.root {
    -fx-background-image: url('scene1Background2.jpg');
  -fx-background-color:linear-gradient(to bottom, #d9e0cc 0%,#b4c687 100%);
    -fx-padding: 0;
  -fx-font-size: 20px;
}

.info {
  -fx-text-fill: white;
}

.label{
    -fx-font-family: "Corbel";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill:linear-gradient(to bottom, #bfff41 0%, #aadf4f 52%, #7eb913 53%, #9ee10a 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 5 ), innershadow(gaussian, rgba(0,0,0,1),3, 1.0, 2, 2);

}


.button{
    -fx-font-family: "Corbel";
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-animated: true;
    -fx-background-insets: 0,1 ;
    -fx-background-radius: 0,0;
    -fx-text-fill: #395306; /*  rgba(14, 35, 5, 0.80)*/
    -fx-background-color: linear-gradient(to bottom, rgba(183,247,65,.75) 0%, #c1f650 50%, rgba(158,232,23,.75) 51%, #9ee10a 100%);
    /*-fx-background-color: linear-gradient(to bottom, #b7f741 0%, #c1f650 50%, #9ee817 51%, #9ee10a 100%);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 10, 0.0 , 0 , 5 );

}

.button:hover{
    -fx-background-color: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 5 );
}

.button:pressed{
    -fx-background-color: linear-gradient(to top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
.game-controls {
  -fx-spacing: 20px;
  -fx-alignment: center;
}
 
.status-indicator {
  -fx-alignment: center;
  -fx-padding: 16px;
}
 
.board {
  -fx-background-color: slategrey;
  -fx-hgap: 10px;
  -fx-vgap: 10px;
  -fx-effect: dropshadow(gaussian, slategrey, 20, 0, 0, 0); /* effect disabled as it causes texture tearing on java 8b79 ea for OS X*/
}
 
.square {
  -fx-padding: 10px;
  -fx-background-color: azure;
}